rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthed() { return request.auth != null; }
    function isSelf(uid) { return isAuthed() && request.auth.uid == uid; }

    match /app/{doc} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{uid} {
      // lesen erlaubt fuer alle eingeloggten Nutzer
      allow get, list: if isAuthed();

      // nur eigene whiteliste Felder duerfen geaendert werden
      allow update: if isSelf(uid)
        && request.resource.data.diff(resource.data).changedKeys().hasOnly(
             ['displayName','photoURL','birthday','lastLoginAt']
           )
        && request.resource.data.role == resource.data.role
        && request.resource.data.isActive == resource.data.isActive;

      // create/delete nur per Functions
      allow create, delete: if false;
    }
  }
}
